@use '../../../globalStyles/variables.scss' as *;


.main_title{
    @include SecondaryTitle()}


    .list {
        padding: 0;
      }
      
      .item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 12px 0;
        box-sizing: border-box;
    
        &>p{
            font-size: 1rem;
            color: $second-text-color;
    
            &::first-letter{
                text-transform: capitalize;
            }
        }
      }


      .icon{
        width: 1.5rem;
        height: auto;
        fill: $secondary-color;
      }

      .link{
        font-size: 1rem;
        color: $second-text-color;
        font-weight: 600;
        text-decoration:underline;
        
        &:hover{
            color: $secondary-color;
        }
      }
    