@use '../../../globalStyles/variables.scss' as *;

.section{
 padding: 3rem 0;

  @include for-size('tablet'){
      padding: 3rem 0;
  }
}
.grid_container{
    position: relative;
    min-height: 80vh;

     @include for-size('desktop'){
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
  }


}

.aside{
    position: absolute;
    transform: translateX(-103%);
    transition: transform $cubic;
      @include for-size('tablet'){
      transform: translateX(-110%);
  }

    &.open{
        transform: translateX(-5%);
        z-index: 50;
          @include for-size('tablet'){
      transform: translateX(-10%);
  }

    }

    

     @include for-size('desktop'){
    position: relative;
      transform: translateX(0);
  }
  
}

.page_nav{
    position:sticky;
    top: 7rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $dark;
    color: $light-text-color;
    border: 2px solid $primary-text-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   
}

.menu_title{
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 600;

  @include for-size('desktop'){
   
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    padding: 1px;
    bottom: -1rem;
    left: 0;
    background-color: $light-text-color;
  }
};

.unit_title{
    display: inline-block;
    font-weight: 600;
    text-transform: lowercase;
    

   &::first-letter{
    text-transform: capitalize;
   }

    &.link_title{
        margin-bottom: 1rem;
        position: relative;
        transform: all $cubic;
         &::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    padding: 0.5px;
    bottom: 0;
    left: 0;
    background-color: $second-text-color;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $cubic;
}

    &:hover{
        color: $secondary-color;
        &::after{
        transform: scaleX(1);}
       };

        &.active{
         color: $secondary-color;
        &::after{
        transform: scaleX(1);}
       }

    }
};

.nav_list{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin: 0.5rem 0 1rem 0;
}

.link{
    position: relative;
    display: block;
    padding: 4px 0;
    font-size: 0.9rem;
    text-transform: lowercase;
    cursor: pointer;
    transition: all $cubic;

   &::first-letter{
    text-transform: capitalize;
   }

   

      &::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    padding: 0.5px;
    bottom: 0;
    left: 0;
    background-color: $second-text-color;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $cubic;
}

    &:hover{
        color: $secondary-color;
        &::after{
        transform: scaleX(1);}
       }


       &.active{
         color: $secondary-color;
        &::after{
        transform: scaleX(1);}
       }
    }

    .article{
        overflow: hidden;
    }

    .open_btn{
        display: block;
        position: absolute;
        right: -1rem;
        top: calc(-1rem + 50%);
        background-color: $dark;
        padding: 1.1rem 0;
        border-radius: 0 1rem 1rem 0;

        &::after{
            position: absolute;
            content: '';
            width: 0.5rem;
            height: 1rem;
             border-top-left-radius: 1rem;
            background-color: transparent;
            bottom: -0.9rem;
            left: 0;
            box-shadow: 0 -0.5rem 0 0 $dark;
        }

         &::before{
            position: absolute;
              content: "";
    width: 0.5rem;
    height: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: transparent;
    top: -0.9rem;
    left: 0;
    box-shadow: 0 0.5rem 0 0 #252b42;
        }

        @include for-size('desktop'){
            display: none;
        }
    }

    .open_icon{
        width: 1rem;
        height: auto;
        transform: rotate(-90deg);
        fill: $light-text-color;
    }