@use '../../../globalStyles/variables.scss' as *;



.article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    color: $second-text-color;

};


.main_title{
    font-size: 2rem;
    text-transform: uppercase;
    color: $primary-text-color;

    @include for-size('desktop'){
        font-size: 3rem;
    }
  
};


.article_body{
  
    text-indent: 2rem;
    hyphens: auto;
}