@use '../../../globalStyles/variables.scss' as *;


.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include for-size('tablet'){
        gap: 2rem;
    }
}


    .gallery_box{
  
   
    margin-top: 2rem;
    margin-bottom: 3rem;
}


.page_title{
    @include MainTitle()
}