@use '../../../globalStyles/variables.scss' as *;


.gallery_box{

    width:100%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

  .swiper{
  
    width: 100%;
    margin-bottom: 1rem;

    @include for-size('tablet'){
       width: 60%;
    }
}


.thumb{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
 
}

.current_video{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
};


.thumb_swiper{
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;  
  
};

.thumb_swiper :global(.swiper-slide-thumb-active) {
& .swiper_slide{
 
 opacity: 0.5;
}
}




.swiper_slide{
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 0,5rem;
  height: 100%;
 opacity: 1;
 cursor: pointer;
 transition: opacity $cubic;
}

.thumb_title{
  font-size: 0.9rem;
}
