@use '../../../globalStyles/variables.scss' as *;


.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    
}

.list{
    display: flex;
   flex-direction: column;
    gap: 1.5rem;
}

.link{
    font-weight: 400;
    font-size: 1.2rem;
    color: $light-text-color;
    text-transform:uppercase;

    transition: color $cubic;

    &:hover{
        color: $secondary-color;
    }
}