@use '../../../globalStyles/variables.scss' as *;




.grid_container{
    display: grid;
    grid-template-columns:auto;
    box-shadow: $box_shadow;

    @include for-size('desktop'){
grid-template-columns: 2fr 3fr;
    }
}

.contacts_side{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem 2rem;
    background-color: $top_bar_bg;
    color: $light-text-color;
    font-size: 0.8rem;
    font-weight: 300;

   
       & >div{
        color: $light-text-color;
        & > ul > li{
        line-height: 0.9;
        &::marker {
            color: $light-text-color;}
       }
       } 
     


    & h3{
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    };

    & h4{
        text-align: center;
    }
};

.contact_persons{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}


.adress{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
& span:first-child{
    text-transform: uppercase;
    font-weight: 600;

}
}


.position{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & span:first-child{
        text-transform: uppercase;
        font-weight: 600;
    }

    & span:nth-child(2){
       margin-left: 2rem;
    }

    & a{
        margin-left: 2rem;
     }

    
}

.form_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem 6rem;
    background-color: $primaryBG;
    font-size: 0.8rem;
    color: $primary-text-color;
    text-align: center;
    text-transform: uppercase;

    & h3{
        font-size: 2rem;
        font-weight: 700;
    }
}