@use '../../../globalStyles/variables.scss' as *;

    .section{
        padding: 7rem 0;
    
        &:nth-child(even){
          background-color: $primaryBG;
        }
    };
 
  
  .main_title{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  };
  

  .gallery_box{
    height: 80vh;
    margin-bottom: 3rem;
  }

  .swiper{
    height: 100%;
    width: 100%;
}

.thumb{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image{
 height: 100%;
 width: auto;
  object-fit: contain;
  object-position: center;
}