@use '../../../globalStyles/variables.scss' as *;

.thumb{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
 
}

.current_video{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
};