@use '../../../globalStyles/variables.scss' as *;


.profesion_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thumb{
   
    width: 100%;
    overflow: hidden;

    @include for-size('desktop'){
   height: 75vh;
    }
    
}

.image{
    max-width: 100%;
    max-height: 100%;
    
   height: auto;
   object-fit: cover;
   object-position: top;
  
}

.detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.2rem;
    row-gap: 2rem;
    padding: 1rem 0;

    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: $box_shadow;

      @include for-size('tablet'){
        grid-template-columns: repeat(3,1fr);
       
    }

    @include for-size('desktop'){
        grid-template-columns: repeat(6,1fr);
        row-gap: 0;
    }


    &>p{
        display: flex;
            flex-direction: column;
            justify-content: space-between;
        
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        padding: 0 1rem;
        border-right: 1px solid $second-text-color;

        &:nth-child(even){
            border-right: none;
        }
        

        &>span{
            display: block;
            margin-top: 8px;
            font-size: 0.8rem;
            font-weight: 400;
            color: $second-text-color;
        }

        @include for-size('tablet'){
            border-right: 1px solid $second-text-color;
             &:nth-child(even){
            border-right: 1px solid $second-text-color}

             &:nth-child(3),
             &:last-child{
            border-right: none}
        }

        @include for-size('desktop'){
             &:nth-child(3){
                border-right: 1px solid $second-text-color
             }
        }
    }
};


.description{
    font-size: 1rem;
}