@use '../../../globalStyles/variables.scss' as *;


.main_title{
    @include MainTitle();
};


.center_box{
    display: flex;
    align-items: center;
    justify-content: center;

}

.list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 0.9rem;
}

.list_item{
     display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: #fff;
    border-top: 1px solid rgb(226, 218, 218);
    border-radius: 1rem;
    box-shadow: $card-shadow;
    

    @include for-size('desktop'){
         padding: 2rem 4rem;
    }
}


.company_title_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
   

    & > h4{
        grid-area: 2/1/2/3;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        
       
    }

    & > span{
        text-align: end;
      color: $second-text-color;
    }

    & div:last-child{
        grid-area: 3/1/3/3;}
      

}

.thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    overflow: hidden;

    &>img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.block_title{
        margin-bottom: 1rem;
        align-self: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    }


.vacancy_list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.vacancy_item{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    color: $second-text-color;

    &>h5{
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: underline;
      
        
    }

    &>span{
        text-align: end;
        font-weight: 600;
    }

     & div:last-child{
        grid-area: 2/1/2/3;
      
    }
};


.contact_list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
 

    @include for-size('desktop'){
        align-items: flex-start;
    }
    
};

.position{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    & span:first-child{
        text-transform: uppercase;
        font-weight: 600;
    }

    & span:nth-child(2){
       margin-left: 2rem;
      
    }

    & a{
        margin-left: 2rem;
        transition: color $cubic;
             &:hover{
                 color:$secondary-color;
             }
     } 
}

.link_list{
  display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    & li{
         &:first-letter{
                text-transform: capitalize;
             }
         & a{
            display: block;
             margin-left: 2rem;
             color: $accent-color;

             transition: color $cubic;
             &:hover{
                 color:$secondary-color;
             }

            
         }
    }

}