@use '../../../globalStyles/variables.scss' as *;

.main_title{
    @include MainTitle()
}

.radio_group{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;

    @include for-size('desktop'){
         grid-template-columns: repeat(6,1fr);
    }
};

.input{
    @include visually_hiden()
};

.label{
display: flex;
flex-direction: column;
gap: 0.5rem;
align-items: center;
width: 100%;
height: 100%;
padding: 0.5rem;
border: 1px solid $second-text-color;
border-radius: 0.5rem;

color: $second-text-color;
text-align: center;
font-size: 0.8rem;
cursor: pointer;

transition: transform $cubic;

& svg{
    width: 2.5rem;
    height: auto;
    fill: $second-text-color;
    }

&:hover{
border: 1px solid $dack-accent-color;
color: $dack-accent-color;
& svg{
    fill: $dack-accent-color;
}}
};


.active{
    transform: scale(0.9);

        border: 1px solid $primaryBG;
        color: $primaryBG;
        background-color: $dack-accent-color;
        & svg{
            fill: $primaryBG;
        }

        &:hover{
            border: 1px solid $primaryBG;
            color: $primaryBG;
            & svg{
                fill: $primaryBG;
            }}
}

