@use '../../../globalStyles/variables.scss' as *;



.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include for-size('tablet'){
        gap: 2rem;
    }
}



.page_title{
    @include SecondaryTitle()
}



.button{
    display: inline-block;
    margin: 0 auto;
    align-self: center;
    padding: 15px 35px;
    background: $secondary-color;
    color: $light-text-color;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
   
    border-radius: 30px;

    transition: transform $cubic, text-shadow $cubic;
   
    &:hover{
        transform: scale(1.01);
        text-shadow: 0px 0px 1px #ffffff;
    }
    
}