@use '../../../globalStyles/variables.scss' as *;

.center_box{
display: flex;
flex-direction: column;
gap: 2.5rem;

}

.head_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.title{
    font-size: 2rem;

    @include for-size('desktop'){
        font-size: 3rem;
    }
}

.filter_box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

   

    @include for-size('tablet'){
        grid-template-columns: repeat(2, 1fr);
         & > *:first-child{
        grid-area: 1/2/1/3;
    }
    }

     @include for-size('desktop'){
        grid-template-columns: repeat(4, 1fr);
         & > *:first-child{
        grid-area: 1/4/1/5;
    }
    }
}

 .input{
        display: flex;
        align-items: center;
        outline: none !important;
        padding:4px;
        border: none !important;
        border-radius: 0 !important;
        border-bottom: 1px solid rgba(152, 150, 150, 0.499) !important;
        box-shadow: none !important;
        cursor:pointer !important;

        &:hover,
        &:focus,
        &:active{
            border: none !important;
            border-bottom: 1px solid $secondary-color !important;
            box-shadow: none !important;
        }
    }
    

    .menu{
        overflow: hidden !important;
        padding: 0.5rem !important;
    }

    .option{
        cursor: pointer !important;
         &:hover,
        &:focus,
        &:active{
           background-color:  $secondary-color !important;
           &.isSelected{
            background-color: transparent !important;
           }
        }

      
    }

    .optionSelected,
    .optionFocused{
        background-color: transparent !important;
        color: $primary-text-color !important;
    }