@use '../../../globalStyles/variables.scss' as *;


.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.thumb{
    display: flex;
    align-items: center;
    justify-content: center;

    & >img{
        width: 50%;
        height: auto;

        @include for-size('desktop'){
            width: 30%;
        }
      
    }

}
.message_box{
display: flex;
flex-direction: row;
gap: 1rem;
align-items: center;
font-size: 1rem;
color: $second-text-color;

@include for-size('desktop'){
            font-size: 1.3rem;
        }


& >h1{
    font-size: 4rem;
    font-weight: 700;
    color: $secondary-color;
}
}


.button{
    padding: 0.5rem 1rem;
    border: 1px solid $secondary-color;
    border-radius: 1rem;
    background-color: $light-text-color;
    text-transform: uppercase;
    font-size: 1rem;
    color: $secondary-color;
    cursor: pointer;
    z-index: 100;
    transition: all $cubic;

    &:hover,
    &:focus{
        color: $light-text-color;
        border: 1px solid $light-text-color;
        background-color: $secondary-color;
    }
    
}