@use '../../../globalStyles/variables.scss' as *;


.title{
   @include MainTitle();
};

.gallery_box{
padding: 1rem;
box-shadow: $card-shadow;
}

  .swiper{
    height: 100%;
    width: 100%;
}


.article{
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 2rem;
   width: 80%;
  justify-self: center;
 
}

.thumb{
    display: flex;
    height: 100%;
    max-height: 30vh;
    justify-content: center;
  
    overflow: hidden;
};

.image{
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
};

.description_box{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
}

.person_title{
font-size: 1.5rem;
font-weight: 600;
text-transform: uppercase;
}

.profession{
font-size: 1.1rem;
font-weight: 500;
text-transform: uppercase;
}