@use '../../../globalStyles/variables.scss' as *;

.center_box{
display: flex;
flex-direction: column;
gap: 2.5rem;
align-items: center;
}

.head_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.title{
    font-size: 2rem;
    @include for-size('desktop'){
    font-size: 3rem;
    }
}

.news_list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include for-size('tablet'){
        grid-template-columns: repeat(2, 1fr);
    }
      @include for-size('desktop'){
        grid-template-columns: repeat(4, 1fr);
    }
};
