@use '../../../globalStyles/variables.scss' as *;



.title_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 6rem;
    align-items: center;
    text-align: center;
    
    & h3{
         font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    @include for-size('desktop'){
        font-size: 3rem;
   
    }
    }

    & p{
        text-transform: uppercase;
       
    }
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
   
    cursor: pointer;
};


.list_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
   
    padding: 0 0.5rem;
    background-color: $primaryBG;
    border-radius: 1rem;
    box-shadow: $box_shadow;
    transition: transform $cubic;

    @include for-size('tablet'){
     max-width: 25%;
    }


    &:hover{
        transform: scale(1.05);
    }

}



.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: $primary-text-color;
}



.logo{
    width: 4rem;
    height: auto;
    border-radius: 0.5rem;
}

.company_title{
    font-size: 1rem;
    text-wrap: wrap;
}