@use '../../../globalStyles/variables.scss' as *;


.main_title{
   @include MainTitle();}


    .list {
        display: flex;
        flex-direction: column;
        padding: 0;
        
      };

      
      .item {
        display: grid;
       grid-template-columns: 3rem 1fr;
       align-items: center;
        gap: 0.5rem;
      
        box-sizing: border-box;
    
        &>p{
            font-size: 1rem;
            color: $second-text-color;
    
            &::first-letter{
                text-transform: capitalize;
            }
        }

        &.result{
          display: flex;
          margin-left: 3.5rem; 
        }
      }


      .icon{
        width: 3rem;
        height: auto;
        fill: $secondary-color;
         &.result{
            display: none;
          }
      }


      .link{
        font-size: 1rem;
        color: $second-text-color;
        font-weight: 600;
        text-decoration:underline;
        
        &:hover{
            color: $secondary-color;
        }
      }
    