@use '../../../globalStyles/variables.scss' as *;

.section{
    padding: 7rem 0;

    &:nth-child(even){
      background-color: $primaryBG;
    }
};

.main_title{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;}


    .list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0;
      };

      .list_item{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      
      .item {
        display: grid;
       grid-template-columns: 3rem 1fr;
       align-items: center;
        gap: 0.5rem;
      
        box-sizing: border-box;
    
        &>p{
            font-size: 1rem;
            color: $second-text-color;
    
            &::first-letter{
                text-transform: capitalize;
            }
        }

        &:last-child{
            grid-template-columns: 1.5rem 1fr;
            margin-left: 3.5rem;

            & .icon{
                width: 1.5rem;
                height: auto;
               fill: $light-text-color;
              }
        }
      }


      .icon{
        width: 3rem;
        height: auto;
        fill: $secondary-color;
      }


      .link{
        font-size: 1rem;
        color: $second-text-color;
        font-weight: 600;
        text-decoration:underline;
        
        &:hover{
            color: $secondary-color;
        }
      }
    