@use '../../../globalStyles/variables.scss' as *;


.main_title{
   @include MainTitle();
   }


    .thumb{
          
      overflow: hidden;           
      width: 100%;

      @include for-size('desktop'){
        height: 75vh;
      }

  
   }

    .image{
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
       }