@use '../../../globalStyles/variables.scss' as *;

.section{
    padding: 7rem 0;

    &:nth-child(even){
      background-color: $primaryBG;
    }
};

.main_title{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
   }


    .thumb{
        display: flex;
        align-items: center;
        justify-content: center;
       height: 75vh;}

    .image{
        height: 100%;
        width: auto;
        object-fit: cover;
    }