@use '../../../globalStyles/variables.scss' as *;



.title{
   @include SecondaryTitle();
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


  .text{
    font-size: 1rem;
    color: $second-text-color;
    text-indent: 4rem;
  }

  .link{
    font-size: 1rem;
    color: $second-text-color;
    font-weight: 600;
    text-decoration:underline;
    
    &:hover{
        color: $secondary-color;
    }
  }

  .subtitle{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }