@use '../../../globalStyles/variables.scss' as *;


.main_title{
 @include SecondaryTitle();}

  .frame{
    margin: 0 auto;
    width: 100%;
    height: 40vh;

     @include for-size('tablet'){
     height: 80vh;
    }

    @include for-size('desktop'){
       width: 80%;
      height: 600px;
    }
  }