@use '../../../globalStyles/variables.scss' as *;
.section{
  padding: 7rem 0;
};

.main_title{
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;}

  .frame{
    margin: 0 auto;
  }