@use '../../../globalStyles/variables.scss' as *;

.nav_box{
    position: static;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $primary-text-color;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    align-items: flex-start;
    text-align: center;
   
};


.link{
    display: block;
    color: $primary-text-color;
    padding: 1rem 0;
    cursor: pointer;
    &:hover{
        color: $secondary-color;
    }
        
    
}