@use '../../../globalStyles/variables.scss' as *;

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    color: $second-text-color;
    transition: transform $cubic;

  
    border-radius: 1rem;
    box-shadow: none;

    &:hover{
        transform: scale(1.02);
       
        border-radius: 1rem;
        box-shadow: $card-shadow;
    }
};

.thumb{
   padding-bottom: 2px;
    border-bottom: 1.5px solid rgb(232, 227, 227);
    
}

.logo{
    display: block;
    width: 4rem;
    height: auto;
};

.text_container{
    font-size: 1.1rem;
    font-weight: 600;
}