@use '../../../globalStyles/variables.scss' as *;




.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}




.title{
    font-size: 2rem;
    font-weight: 700;
    color: $primary-text-color;
    @include for-size('desktop'){
            font-size: 3rem;
        }
}

.description{
     font-size: 1rem;
    font-weight: 500;
    color: $secondary-color;
    @include for-size('desktop'){
            font-size: 1.5rem;
        }

}


.button{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 1px solid $secondary-color;
    border-radius: 2rem;
    background-color: $secondary-color;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: $light-text-color;
    cursor: pointer;
    z-index: 20;
    transition: all $cubic;

    &:hover,
    &:focus{
        color: $secondary-color;
        border: 1px solid $secondary-color;
        background-color: $light-text-color;
    }
    
}