.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  
  background: #fff;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  max-height: 90vh;
  overflow: hidden;
 
}

.modalImage {
display: flex;
align-items: flex-end;
justify-content: center;
padding: 20% 0 0 0;

overflow: hidden;
background: var(--gradient-color);
background: linear-gradient(0deg,var(--gradient-color) 0%, var(--gradient-color) 65%, transparent 0%);


  &>img {
   height: 25rem;
    width: auto;
    filter: drop-shadow(0px 12px 16px #7a7878);
    object-fit: cover;
    object-position: bottom;
  }
}

.modalContent {
  padding: 4rem 2rem 1rem 0;
  background: var(--gradient-color);
background: linear-gradient(180deg,var(--gradient-color) 0%, var(--gradient-color) 35%, transparent 0%);
}

.title_box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;

  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  

  &>h2{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  &>p{
    font-style: italic;
  }

  
}

.main_info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 2rem 0 0 1rem ;
  font-size: 0.8rem;
  color: rgb(95, 93, 93);
   text-transform: lowercase;
  &>p::first-letter{
    text-transform: uppercase;
  }

}


.card_footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  text-transform: lowercase;
  &>p::first-letter{
    text-transform: uppercase;
  }
}