@use '../../../globalStyles/variables.scss' as *;

.header{
    display: grid;
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 10rem;
    grid-template-columns: 6rem 3fr;
    justify-content: space-between;
    padding: 8px 70px;
    background-color: $primaryBG;
    align-items: center;
    box-shadow: $box_shadow;
}