@use '../../globalStyles/variables.scss' as *;


.section_wrapper{
    padding: 0 15px;
    @include for-size(tablet) {
        padding: 0 70px;
    }
}

.main_title{
    @include MainTitle()
}

.wrapper{
    padding-top: 3rem;

  @include for-size('tablet'){
      padding-top: 7rem;
  }
}