@use '../../../globalStyles/variables.scss' as *;


.main_title{
   @include MainTitle()
}

.list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list_item{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem 3rem;
    box-shadow: $box_shadow;

    background-color: $primaryBG;
}

.service{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
word-break: break-all;
& span:first-child{
    font-weight: 600;
}
}