@use '../../../globalStyles/variables.scss' as *;



.title{
   @include MainTitle();
};

.link_box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;

    &>li{
        height: 100%;
    }

    @include for-size('tablet'){
        grid-template-columns: repeat(3,1fr);
         gap: 2rem;
    }
    
};

.link{
    display: flex;
   align-items: center;
   justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
   
    text-align: center;
    color: $light-text-color;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid $secondary-color;
    border-radius: 30px;
    background-color: $secondary-color;

    transition: all $cubic;
   
    &:hover{
        color: $secondary-color;
        background-color: $light-text-color;
        transform: scale(1.01);
        text-shadow: 0px 0px 1px #ffffff;
    }
}
