@use '../../../globalStyles/variables.scss' as *;

.section{
    position: relative;
    height: calc(100vh - 4.4rem);
    overflow: hidden;

}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 2;
 
}

.swiper{
    height: 100%;
}

.image{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}

.wrapper{
    position: absolute;
    top: 35%;
    left: 0;
    padding: 0 70px;
    width: 70%;

    color: $light-text-color;
    z-index: 5;

&>p{

    font-size: 1.5rem;
    margin-top: 2rem;
        
    }

}

.title{
    font-size: 3.2rem;
}