@use '../../../globalStyles/variables.scss' as *;

.section{
    overflow: hidden;
    padding: 0;

    @include for-size('tablet') {
         height: calc(100vh - 4rem);
    
    }
   

}

.thumb{
     position: relative;
     width: 100%;
     height: 100%;
   
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 2;
 
}

.swiper{
    height: 100%;
}

.image{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}

.wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 0;
    left: 0;
    padding: 0 15px;
    width: 80%;
    height: 100%;

    color: $light-text-color;
    z-index: 5;

&>p{

    font-size: 1rem;
    margin: 1rem 0;

    @include for-size('tablet'){
    font-size: 1.5rem;
    }

     @include for-size('desktop'){
    margin: 2rem 0;
    } }

    @include for-size('tablet'){
        padding: 0 70px;
    }
      @include for-size('desktop'){
         width: 70%;
    }

}

.title{
    font-size: 1.5rem;

    @include for-size('tablet'){
        font-size: 2.5rem;
    }

    @include for-size('desktop'){
    font-size: 3.2rem;
    }
    
}

.link{
     display: block;
    padding: 15px 20px;
    background: #ff7f46;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    transition: transform $cubic, text-shadow $cubic;
   
    &:hover{
        transform: scale(1.05);
        text-shadow: 0px 0px 1px #ffffff;
    }

    @include for-size('desktop'){
         padding: 15px 35px;
    }
}

.slide{
    width: 100%;
    height: auto;
}