@use '../../../globalStyles/variables.scss' as *;

.container{
    display: flex;
    flex-direction: row;
    gap:0.8rem
}

.button{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $primaryBG;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: $primary-text-color;
    transition: color $cubic,transform $cubic;

    @include for-size('tablet'){
    width: 26px;
    height: 26px;
    font-size: 16px;
    }

    &:hover{
        color: $secondary-color;
        transform: scale(1.1);
    }
}