@use '../../../globalStyles/variables.scss' as *;


.article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    color: $second-text-color;

};


.category_desc{
    align-self: flex-start;
    padding: 0.8rem 1rem;
    color: $light-text-color;
    text-transform: uppercase;

    background-color: $secondary-color;
}

.main_title{
    font-size: 2rem;
    text-transform: uppercase;
    color: $primary-text-color;

    @include for-size('desktop'){
        font-size: 3rem;
    }
  
};

.date{
    font-size: 0.8rem;
    font-style: italic;
};

.thumb{
   display: block;
    height: auto;
    margin: 0 auto;
};

.article_body{
  
    text-indent: 2rem;
    hyphens: auto;
}