@use '../../../globalStyles/variables.scss' as *;


.footer{
    background-color: $top_bar_bg;
    padding: 6rem 0 0 0;
    color: $light-text-color;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding-bottom: 6rem;
    text-align: center;

    @include for-size('tablet'){
         grid-template-columns:1fr 1fr 1fr;
         gap: 4rem;
    }

   
}

.logo_box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  
}
.link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: $light-text-color;
    transition: transform $cubic;

    &:hover{
        transform: scale(1.02)
    }
};

.logo{
    display: block;
    width: 16rem;
    height: auto;
};

.text_container{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

.footter_botom{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem;
    align-items: center;
    background-color: $primaryBG;
    text-align: center;
    color: $second-text-color;
}

.sighn{
     font-size: 0.5rem;


    & > span{
        margin-right: 0.2rem;
    }

    @include for-size('desktop'){
         font-size: 0.8rem;
    }
    
}