@use '../../../globalStyles/variables.scss' as *;


.list {
    padding: 0;
    &.double{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5rem;
    }
  }
  
  .item {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    align-items: center;
    gap: 0.5rem;
    padding: 12px 0;
    box-sizing: border-box;

  }


  .icon{
    width: 1.5rem;
    height: auto;
  }

  .link{
    font-size: 1rem;
    color: $second-text-color;
    font-weight: 600;
    text-decoration:underline;
    transition: color $cubic;
    
    &:hover{
        color: $secondary-color;
    }
  }