@use '../../../globalStyles/variables.scss' as *;


.section{
  padding: 2rem 0;

  @include for-size('tablet'){
      padding: 3rem 0;
  }
};


.main_title{
    @include SecondaryTitle()}

    .link_list{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;

        @include for-size('tablet'){
        grid-template-columns: repeat(2,1fr);
        }

         @include for-size('desktop'){
        grid-template-columns: repeat(3,1fr);
        }
    };

   .description{
    margin: 2rem 0;
   }

    .link_item{
        border-top: 1rem solid rgb(8, 165, 8);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        box-shadow: $card-shadow;
        transition: transform $cubic;

        &:hover{
            transform: scale(1.03);
        }

        &:nth-child(2){
            border-top: 1rem solid $accent-color;
        }
        &:nth-child(3){
            border-top: 1rem solid $secondary-color;
        }

        &:nth-child(4){
            border-top: 1rem solid rgb(0, 37, 171);
        }
        &:nth-child(5){
            border-top: 1rem solid rgb(128, 5, 185);
        }
        &:nth-child(6){
            border-top: 1rem solid rgb(226, 226, 4);
        }
    }


    .link{

        display: flex;
        align-items: center;
        justify-content: center;
        height: 6rem;
        padding: 0 1rem;
        background-color: $primaryBG;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: rem;
        line-height: 1.5;
        color: $second-text-color;
        
       


     

    }