@use '../../../globalStyles/variables.scss' as *;


.main_title{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;}

    .link_list{
        display: grid;
       grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    };

    .link_item{
        border-top: 5px solid rgb(8, 165, 8);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        box-shadow: $card-shadow;
        transition: transform $cubic;

        &:hover{
            transform: scale(1.03);
        }

        &:nth-child(2){
            border-top: 5px solid $accent-color;
        }
        &:nth-child(3){
            border-top: 5px solid $secondary-color;
        }

        &:nth-child(4){
            border-top: 5px solid rgb(0, 37, 171);
        }
        &:nth-child(5){
            border-top: 5px solid rgb(128, 5, 185);
        }
        &:nth-child(6){
            border-top: 5px solid rgb(226, 226, 4);
        }
    }


    .link{

        display: flex;
        align-items: center;
        justify-content: center;
        height: 12rem;
        padding: 0 2rem;
        background-color: $primaryBG;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5;
        color: $second-text-color;
        
       


     

    }