@use '../../../globalStyles/variables.scss' as *;

.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $primaryBG;
    border: 1px solid #dee2e6;
    transition: scale $cubic;
    &:hover{
        scale: 1.01;
    }
}
.description_box{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    align-items: flex-start;
};

.thumb{
   position: relative;
    
    width: 100%;
    max-height: 50vh;
    min-height: 2rem;
    overflow: hidden;
};

.image{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.category_desc{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 0.5rem 1rem;
    color: $light-text-color;
    text-transform: uppercase;
    background-color: $secondary-color;

}


.date{
    font-size: 0.875rem;
    font-weight: 600;
    color: $secondary-color;
}

.title{
    font-size: 1.5rem;
}

.description{
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 400;
    color:$second-text-color;
}

.btn{
    font-size: 1rem;
    font-weight: 600;
    color: $secondary-color;
    &::after{
        content: "\27A1";
        margin-left: 5px;
    }
}


