@use '../../../globalStyles/variables.scss' as *;


.main_title{
   @include MainTitle();
}

.list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include for-size('tablet'){
     grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem;
    }
    @include for-size('desktop'){
        grid-template-columns: repeat(4, 1fr);
    }
}
