@use '../../../globalStyles/variables.scss' as *;


.center_box{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    }

    .head_container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-transform: uppercase;
        text-align: center;
    }
    
    .title{
       font-size: 2rem;
       @include for-size('desktop'){
        font-size: 3rem;
       }
    }

.list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  
    
}

.item{
   display: block;
@include for-size('desktop'){
 &:nth-child(even){
    display: flex;
    justify-content: flex-end;
   }
}
}