@use '../../../globalStyles/variables.scss' as *;

.contacts_box{
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
}

.title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: flex-start;
    gap: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
    text-align: start;
    
}

.icon{
    width: 1.2rem;
    height: auto;
    fill: white;
    stroke: white;
    &.mail{
        fill: $dark;
       
    }
    
}




.contact_persons{
    display: grid;
   grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}



.position{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: start;


    & span:nth-child(2){
       margin-left: 2rem;
    }

    & a{
        margin-left: 2rem;
     }

    
}