@use '../../../globalStyles/variables.scss' as *;


.top_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: $light-text-color;
    background-color: $top_bar_bg !important;

    @include for-size('tablet'){
         padding: 0 70px;
    }
};

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.875rem;
    gap: 0.5rem;

    & >p{
        display: none;
        @include for-size('tablet'){
        display: inline;
    }
    }
};

.switcher_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;

    @include for-size('tablet'){
        gap: 3rem;
    }
}