@use '../../../globalStyles/variables.scss' as *;

.main_title{
   @include MainTitle();}

.dash_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;

    &>h4{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

.dash_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;

    @include for-size('tablet') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
};

.dash_item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid $second-text-color;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: $box_shadow;

    & > p:last-child{
        font-size: 4rem;
        color: $secondary-color;
    }
};


.shedule_list{
  display: flex;
  flex-direction: column;
    gap: 1rem;
      text-align: center;
    font-size: 1.5rem;
    font-weight: 700;

    @include for-size('tablet') {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    }
}

.shedule_item{
 display: flex;
    flex-direction: column;
    gap: 0.5rem;
     border: 1px solid $second-text-color;
     padding: 1rem;
     border-radius: 0.5rem;
     box-shadow: $box_shadow;
       @include for-size('tablet') {
         gap: 1rem;
    }

     & > p:first-child{
        font-size: 1.5rem;
        text-transform: uppercase;
         @include for-size('tablet') {
        font-size: 2.5rem;
    }
     }

    & > p:last-child{
        font-size: 1rem;
        color: $accent-color;
          @include for-size('tablet') {
        font-size: 1.5rem;
    }
    }
}