@use '../../../globalStyles/variables.scss' as *;


.card{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    cursor: pointer;
    transition: scale $cubic;

    &:hover .description_box > h3{
        color: $secondary-color;
    }

    &:hover .thumb .image{
     transform: scale(1.02);
    }
}

.description_box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
};
.category_desc{
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: $light-text-color;
  
    background-color: $secondary-color;
}

.thumb{
    display: flex;
    width: 100%;
    max-width: 19rem;
    max-height: 11rem;
    overflow: hidden;
};

.image{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform $cubic;
}


.date{
    font-size: 0.875rem;
    font-weight: 400;
    color: $second-text-color;
    font-style: italic;
    flex-grow: 1;
}

.title{
    font-size: 1rem;
    font-weight: 600;
    transition: color $cubic;
}

.description{
    font-size: 1rem;
    font-weight: 400;
    color:$second-text-color;
}


